<div>
    <h2 mat-dialog-title>{{pageTitle}}</h2>
    <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
      <mat-dialog-content >

        <input type="hidden" id="_id" name="_id" formControlName="_id" [(ngModel)]="data._id" />
        <mat-form-field class="input-full-width">
          <input  matInput type="text" formControlName="name" id="name" [(ngModel)]="data.name" />
        </mat-form-field>
  
      <!-- Description Field -->
        <mat-form-field class="input-full-width">
          <textarea matInput id="description" formControlName="description" [(ngModel)]="data.description"></textarea>       
        </mat-form-field>

    </mat-dialog-content>

      <mat-dialog-actions [align]="'center'">
      <!-- Submit Button -->
      <button mat-button (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="addItemForm.invalid" cdkFocusInitial>Save</button>
      </mat-dialog-actions>

    </form>
  </div>
  